.text-green {
    color: #52942F !important;
}

.text-red {
    color: #AB465E !important;
}

.text-blue {
    color: #858AF1;
}

.bg-yellow {
    background-color: #FFF2CD !important;
}

.bg-green {
    background-color: #BFFF7B !important;
}

.bg-red {
    background-color: #AB465E !important;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-btn {
    border-radius: 3rem !important;
}

.social-media-icon {
    height: 3rem;
    cursor: pointer;
}

.log-in-img {
    width: 10rem;
    height: 10rem;
    background-image: url("../img/log-in.png");
    background-size: cover;
    background-position: center;
}

.sign-up-img {
    width: 10rem;
    height: 10rem;
    background-image: url("../img/sign-up.png");
    background-size: cover;
    background-position: center;
}

.search-img {
    width: 10rem;
    height: 10rem;
    background-image: url("../img/search.png");
    background-size: cover;
    background-position: center;
}

.favorite-img {
    width: 10rem;
    height: 10rem;
    background-image: url("../img/favorite.png");
    background-size: cover;
    background-position: center;
}

.w-4-rem {
    width: 4rem;
}

.w-2-rem {
    width: 2rem;
}

.w-3-rem {
    width: 3rem;
}

.w-15-rem {
    width: 15rem;
}

.fs-4-rem {
    font-size: 4rem;
}

input::placeholder {
    color: #52942F !important;
}